<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Convict Conditioning Tracker</title>
		<link href="/static/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div id="header">
			<h1>Rank</h1>
			<div class="progress"></div>
		</div>
		<div id="content">
			{{range .Groups}}
			<div class="group">
				<div class="group-header">
					<h2>{{.Name}}</h2>
					<div class="progress" style="width: {{groupProgress .Name}}%;"></div>
				</div>
				<div class="group-list">
					{{range .Exercises}}
					<div class="exercise">
						<div class="exercise-header">
							<h3>{{.Name}}</h3>
							<div class="exercise-progress">{{.Best}}/{{(index .Goals 2).Reps}}</div>
							<div class="progress" style="width: {{exerciseProgress .Name}}%;"></div>
						</div>
						<div class="description">
							{{.Performance}}
						</div>
					</div>
					{{end}}
				</div>
			</div>
			{{end}}
		</div>
	</body>
</html>
